block config
    include config

include ./mixins/cards
include ./mixins/buttons    

doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= `${pageTitle} | ${siteName}`
        meta(name="description", content= metaDescription) 
        link(rel="stylesheet", href="css/styles.css")
    body.main-container
        .top-container
            .image
                block image
            .information
                block content
        .body-container
            block cards
        script(src="js/script.js")
            
    
