mixin button
    //- form(target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post")
    //-     input(type="hidden" name="cmd" value="_s-xclick")
    //-     input(type="hidden" name="hosted_button_id" value="W7TFFE2L2J7SE")
    //-     input(type="image" src="https://www.sandbox.paypal.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="Paga por Paypal")
    //-     img(alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1")
    form(target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post")
        input(type="hidden" name="cmd" value="_s-xclick")
        input(type="hidden" name="hosted_button_id" value="AMXP343T2DYSE")
        input(type="image" src="../assets_web/assets/contrata.svg" border="0" name="submit" alt="Paga por PayPal")
        img(alt="" border="0" src="../assets_web/assets/contrata.svg" width="1" height="1")


