extends ../includes/template


prepend image
        img(src="../assets_web/assets/logo_starcups.svg", alt="Logotipo de Starcups." class="logo_img")
append content
        p.paragraph Elige el Plan y comienza a vivir la experiencia nueva en el mundo
            |del emprendimiento, aprovecha la experiencia de nuestros mentores
            |y crece mucho más con las herramientas y material de apoyo
            |<span class="span__brand">STARTCUPS</span> te ofrece.
append cards
    +card('Premium', '150.99', 'CONTRATAR', 'Ejemplo de descripción')
    +card('Premium', '150.99', 'CONTRATAR', 'Ejemplo de descripción')
    
    
