extends ../includes/template


prepend image
        img(src="./assets/logo_starcups.svg", alt="Logotipo de Starcups." class="logo_img")
append content
        p.paragraph Elige el Plan y comienza a vivir la experiencia nueva en el mundo 
            | del emprendimiento, aprovecha la experiencia de nuestros mentores
            | y crece mucho más con las herramientas y material de apoyo
            | <span class="span__brand">STARTCUPS</span> te ofrece.
append cards
    +card('Mensual','a','12.99','s' )(target="_blank")
    +card('Anual', 'Ahorras por mes 10%', '119.88', '9.99')(target="_blank")
        
    
    
