extends ../includes/template


prepend image
        img(src="./assets/logo_starcups.svg", alt="Logotipo de Starcups." class="logo_img")
append content
        p.paragraph Elige el Plan y comienza a vivir la experiencia nueva en el mundo 
            | del emprendimiento, aprovecha la experiencia de nuestros mentores
            | y crece mucho más con las herramientas y material de apoyo
            | <span class="span__brand">STARTCUPS</span> te ofrece.
append cards
    +card(
        'Mensual',
        '',
        '12.99',
        '',
        '',
        'Acceso ilimitado a videos exclusivos.',
        'Notificaciones de nuestros webinars',
        'Área de Coworking en nuestras oficinas Startcups y cortesía un café diario.',
        '',
        ''  )
        
    +card('Anual',
        'Ahorras por mes 10%',
        '119.88',
        '9.99',
        '/mes',
        'Acceso ilimitado a videos exclusivos.',
        'Notificaciones de nuestros webinars',
        'Área de Coworking en nuestras oficinas Startcups y cortesía un café diario.',
        'Uno de nuestros programas GRATIS al mes.',
        '50% de Descuento en Programas Completos.')(target="_blank")
        
    
    
